<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-color:black;
        }
        canvas{background-color:white;}
        a{color:white;}
    </style>
</head>
<body>
    <canvas id="canvasInAPerfectWorld" width="490" height="220"></canvas>
    <br />
    <a href="javascript:clear();">clear</a>&nbsp;&nbsp;&nbsp;
    <a href="javascript:downloadCanvas(this);">download</a>

    <script src="/public/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/public/javascripts/html2canvas.js"></script>
    <script type="text/javascript">

        var clickX = new Array();
        var clickY = new Array();
        var clickDrag = new Array();
        var paint;

        function clear() {
            clickX = new Array();
            clickY = new Array();
            clickDrag = new Array();
            context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas
        }

        function downloadCanvas(obj) {
            html2canvas(document.getElementById('canvasInAPerfectWorld'), {
                allowTaint: true,
                onrendered: function (canvas) {
                    var lnk = document.createElement('a'), e;

                    lnk.download = "canvas.png";
                    lnk.href = canvas.toDataURL('image/png');

                    if (document.createEvent) {

                        e = document.createEvent("MouseEvents");
                        e.initMouseEvent("click", true, true, window,
                                         0, 0, 0, 0, 0, false, false, false,
                                         false, 0, null);

                        lnk.dispatchEvent(e);

                    } else if (lnk.fireEvent) {

                        lnk.fireEvent("onclick");
                    }
                }
            });
        }

        var context = document.getElementById('canvasInAPerfectWorld').getContext("2d");
        $('canvas').mousedown(function (e) {
            var mouseX = e.pageX - this.offsetLeft;
            var mouseY = e.pageY - this.offsetTop;

            paint = true;
            addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
            redraw();
        });

        $('canvas').mousemove(function (e) {
            if (paint) {
                addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
                redraw();
            }
        });

        $('canvas').mouseup(function (e) {
            paint = false;
        });

        $('canvas').mouseleave(function (e) {
            paint = false;
        });

       

        function addClick(x, y, dragging) {
            clickX.push(x);
            clickY.push(y);
            clickDrag.push(dragging);
        }

        function redraw() {
            context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas

            context.strokeStyle = "#df4b26";
            context.lineJoin = "round";
            context.lineWidth = 5;

            for (var i = 0; i < clickX.length; i++) {
                context.beginPath();
                if (clickDrag[i] && i) {
                    context.moveTo(clickX[i - 1], clickY[i - 1]);
                } else {
                    context.moveTo(clickX[i] - 1, clickY[i]);
                }
                context.lineTo(clickX[i], clickY[i]);
                context.closePath();
                context.stroke();
            }
        }
    </script>
</body>
</html>
